
.images-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin:0 auto;
}

.image-container{
    display: flex;
    /* padding: 10px; */
    max-height: 100%;
    width: auto;
    /* margin: 20px 0 0 0; */
    box-sizing: border-box;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
.canvas-image{
    max-height: 150px;
    width: auto;
    margin-bottom: 20px;
}




