
.images-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    
}


.image{
    display: flex;
    width: 100px;
    max-height: 50px;
    margin: 0;
}