.canvas-modal-container{
    display: flex;

}

.canvas-modal{
   position: absolute;
    display: flex;
    top:100px;
    width: 80%;
    background: lightblue;
    margin-top: 100px;
    border: 1px solid rgb(206, 206, 206);
    align-items: center;
    justify-content: center;
    z-index: 2;
}


.work-zone{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0 auto;
}

.toolbar{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 100%;
}

.canvas{
    margin-top: 20px;
}