.about-container{
    background: #2eb398;
    display: flex;
    width: 100%;
    box-sizing: border-box;
}

.about-us{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 100%;
    margin: 0;
    padding: 0;
    
}
.contact-header{
    display: flex;
    overflow-wrap: normal;
}
.us-details{
    display: flex;
    flex-flow: row wrap;
    justify-self: flex-start;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
}


.img{
    width: 90%;
    height: auto;
    /* margin: 20px; */
    margin-right: 10px;
}


.title{
    margin: 0;
    font-size: 30px;
    color: #d7fcf5;
}

h3.title{
    color: #20816d;
    font-size: 18px;
}

.txt{
    line-height: 18px;
    font-size: 12px;
    color: #d7fcf5;
}



.social-media{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-right: 10px;
}

.social-media-icon{
    height: 20px;
    width: auto;
}

