
@import '_nav.css';
@import '_about.css';
@import '_canvas.css';
@import '_images.css';
@import '_work-zone.css';
@import 'inTouch.css';
@import '_search.css';

.main-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

body{
    margin: 0;
    padding: 0;
}

a{
     text-decoration: none;
}


img{
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
}